#app-bar {
background-color:#8fc400;
height:2em;text-align:center;
padding:0.1em;
}
#app-icon {}
#menu-bars {height:36px;width:48px;}
/* main body visuals */
#accelerometerWrapper {margin:0 2%;padding:0;}
#visualArrows {
width:45%;
height:9em;
display:inline-block;
vertical-align:top;
background-color:#8fc400;
/* border:solid 3px black; */
box-sizing:border-box;
}
#gforceInformation {width:52%;height:9em;display:inline-block;vertical-align:top;
}
/* Compass */
#headingInformation {}
/* */
#networkInformation {}
#deviceInformation {}
